<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- 开发版才能唤起 vue-dev-tools -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"
    />
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <div id="app">
      <input ref="input" type="file" @change="onFileChange" />
      <el-button type="primary" @click="upload">上传</el-button>
      <el-button @click="reset">重置</el-button>
      <img v-if="srcBase64" :src="srcBase64" />
      <img v-if="srcUrl" :src="srcUrl" />
      <div>计算文件 hash</div>
      <el-progress :percentage="hashProgress"></el-progress>
      <el-table :data="uploadProgress">
        <el-table-column label="chunk 编号" width="100">
          <template v-slot="{ $index }">
            {{ $index }}
          </template></el-table-column
        >
        <el-table-column label="大小（KB）" align="center" width="120">
          <template v-slot="{ row }">
            {{ (row.size / 1024).toFixed(1) }}
          </template>
        </el-table-column>
        <el-table-column label="进度" align="center">
          <template v-slot="{ row }">
            <el-progress
              :percentage="row.progress"
              color="#909399"
            ></el-progress>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <script>
      const SERVER_HOST = '//localhost:3333'
      const CHUNK_SIZE = 2 * 1024 ** 2 // 切片大小

      new Vue({
        el: '#app',
        data: () => ({
          file: null,
          status: 'idle', // idle | uploading
          hashProgress: 0, // 0 - 100
          uploadProgress: [],
          srcBase64: '',
          srcUrl: '',
        }),
        methods: {
          reset() {
            Object.assign(this, this.$options.data())
            this.$refs.input.value = ''
          },
          onFileChange(e) {
            const [file] = e.target.files
            this.file = file
            this.upload() // 方便测试
            if (/image/.test(file.type)) this.previewImg()
          },
          previewImg() {
            const reader = new FileReader()
            reader.onload = () => {
              this.srcBase64 = reader.result
            }
            reader.readAsDataURL(this.file)
            this.srcUrl = URL.createObjectURL(this.file)
          },
          async upload() {
            const { file } = this
            if (!file) return

            this.status = 'loading'
            const chunks = createChunks(file)
            const hash = await new Promise((resolve) => {
              calculateHash(chunks, ({ progress, hash }) => {
                this.hashProgress = progress
                if (hash) resolve(hash)
              })
            })
            let { uploaded, uploadedChunks } = await verifyUpload(
              file.name,
              hash,
            )
            if (uploaded) {
              this.$message.success('秒传：上传成功')
              this.status = 'idle'
              return
            }

            uploadedChunks = new Set(uploadedChunks)
            this.uploadProgress = chunks.map((c, i) => ({
              size: c.size,
              progress: uploadedChunks.has(i) ? 100 : 0,
            }))
            this.uploadChunks(hash, chunks, uploadedChunks)
          },
          async uploadChunks(hash, chunks, uploadedChunks) {
            const fileName = this.file.name
            const requests = chunks.map(async (c, i) => {
              if (uploadedChunks.has(i)) return
              const formData = new FormData()
              formData.append('hash', hash)
              formData.append('chunk', c)
              formData.append('index', i)
              formData.append('fileName', fileName)
              return axios.post(SERVER_HOST, formData, {
                onUploadProgress: (e) => {
                  this.uploadProgress[i].progress = +(
                    (e.loaded / e.total) *
                    100
                  ).toFixed(1)
                },
              })
            })
            await Promise.all(requests)
            await axios.post(`${SERVER_HOST}/merge`, {
              chunkSize: CHUNK_SIZE,
              hash,
              fileName,
            })
            this.$message.success('上传成功')
            this.status = 'idle'
          },
        },
      })

      function createChunks(file, size = CHUNK_SIZE) {
        const chunks = []
        for (let i = 0; i < file.size; i += size) {
          chunks.push(file.slice(i, i + size))
        }
        return chunks
      }

      function calculateHash(chunks, cb) {
        const worker = new Worker('hash.js')
        worker.postMessage(chunks)
        worker.onmessage = (e) => {
          cb(e.data)
        }
      }

      function verifyUpload(fileName, hash) {
        return axios
          .post(`${SERVER_HOST}/verify`, { fileName, hash })
          .then((resp) => resp.data)
      }
    </script>
  </body>
</html>
